{% extends 'base.html' %}
{% load static %}


{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'detector'%}">
  	<img src="{% static "img/logo.png" %}" width="90" height="50" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'breastCancer'%}">Breast cancer </a>
      </li>
	  <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Algorithms<span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'algos'%}#intro">Introduction</a>
          <a class="dropdown-item" href="{% url 'algos'%}#svm">SVM</a>
          <a class="dropdown-item" href="{% url 'algos'%}#knn">KNN</a>
          <a class="dropdown-item" href="{% url 'algos'%}#rf">Random Forest</a>
          <a class="dropdown-item" href="{% url 'algos'%}#comp">Comparison</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'us'%}">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'detector'%}">Detector</a>
      </li>
    </ul>
  </div>
</nav>

<style type="text/css">
  .col{
    text-align: center;
  }
  .profile_img{
    border-radius: 100px;
    border: 4px solid white;
  }
  .pinkcheck{
    color : rgba(223, 121, 167, 0.5) !important;
  }
  .centercol{
    text-align: center;
  }
  p{
    text-align: justify;
  }
</style>

<div class="card" style="margin: 20px" id="intro">
  <div class="card-header col">
    <h3>Introduction to Machine Learning</h3>
  </div>
  <div class="card-body">
    <h4>Classic Machine Learning</h4>
    <p>
      Machine Learning, dominated by artificial intelligence, is an area that allows predicting
      results without the code explicitly containing the answer. For the machine to learn by itself it
      needs two important things:
      <ol>
        <li>A data model that will be used as a basis to calculate a result</li>
        <li>A learning algorithm adapted to the model</li>
      </ol>
      The big problem with machine learning is that there is no such thing as a magic algorithm.
      There are a lot of algorithms, more or less expensive, depending on the data we want to
      process and the use we want to make of it.
      The strength of this area and that most of the work is studying the data and understanding
      how to process it. Subsequently most of the algorithms are already implemented and you just
      must use them.
      There are three main types of algorithms for learning the model. The learning is one of the
      most important part because it allows to bring a better precision of prediction.
      <ol>
        <li>Supervised Learning</li>
        <li>Unsupervised Learning</li>
        <li>Reinforcement Learning</li>
      </ol>
    </p>

    <h4>Supervised Learning</h4>
    <p>When we talk about supervised learning, we can easily understand that the machine needs
    help from humans. In this case the Machine must train with data labeled at the input and predefined output data.
    This kind of learning makes it possible to solve problems of regression (output variable is
    a continuous value, it can take any value) and of classification (output variable is a discrete
    value, related to a class, the number of possibility is limited).</p> 

    <h4>Unsupervised Learning</h4>
    <p>Unlike supervised learning, unsupervised learning gives the machine a lot more flexibility.
    In fact, the machine receives a non-labeled data set and does not know the output values.
    Like a human being left in an unknown environment without a guide, he will try to regroup
    the data, make subsets, to classify a potential future unknown data. To achieve these subsets,
    we use learning algorithms for clustering (grouping of data according to their similarities) and
    association (finding relationships according to the attributes of the data).</p>

    <h4>Reinforcement Learning</h4>
    <p>This kind of method is special, and it is not the most used due to its complexity. The
    algorithms of this method are based on a system of reward and punishment. Obviously, the
    aim of the algorithm is to obtain the best reward for a given objective. Most generally, the
    algorithm creates its own dataset by exploring a specific environment.</p>
  </div>
</div>

<div class="card" style="margin: 20px" id="svm">
  <div class="card-header col">
    <h3>Support Vector Machine Algorithm (SVM)</h3>
  </div>
  <div class="card-body">
    <p>The SVM algorithm is a machine learning algorithm with supervised learning used
    to meet classification needs. It belongs to the category of linear classifiers because it uses
    linear separation of data. It is much more efficient in classification, especially binary
    classification. The algorithm can also handle regression problems.</p>
    <p>
      The goal of an SVM algorithm is to find an optimal boundary by maximizing the distance
between training points and the boundary thanks to support vectors located on the limit of
each class. It will be necessary to use a "one-vs-one" or
"one-vs-all" trick to be able to use the SVM in the multi-class classification.
    </p>
    <div class="centercol">
      <img class="img-fluid" src="{% static "img/svmBase.png" %}">
    </div>
    <p>
      We can use the "kernel trick" if the data is not separable in a linear way. However, it
sometimes happens that the data model is not necessarily representable in the form of two
linearly separable classes. It is a matter of common sense and in this case, it will be necessary
to choose another type of algorithm such as the decision tree.
    </p>
    <div class="centercol">
      <img class="img-fluid" src="{% static "img/svmKernelUse.png" %}">
    </div>
    <p>With more than two dimensions it is difficult to choose the right kernel. You have to test. Here are the different kernels that we can use:<p>
    <div class="centercol">
      <img class="img-fluid" src="{% static "img/svmKindsKernel.png" %}">
    </div>
    <p>
      You will also see below the mathematical formulas of the kernels, taken from scikit-learn, allowing to understand the hyperparameters with which we can play such as the sigma and the polynomial degree.
    </p>
    <div class="centercol">
      <img class="img-fluid" src="{% static "img/svmkernelExplain.png" %}">
    </div>
    <p>
      SVM is one of the most powerful linear classification algorithms. Its strong point is
that it is very efficient with little data and becomes less efficient with too much data. (For once
I have an advantage over Google). KVM algorithms are known for their solid theoretical
guarantees, their great flexibility and their ease of use. This algorithm cannot be applied to too
complex problems and it is better to stay on simple use of binary classification. For example,
to classify emails as SPAM or NON-SPAM it is effective.
    </p>
  </div>
  <div class="card-footer">
    References :
    <ul>
      <li><a href="https://www.r-bloggers.com" target="_blank">https://www.r-bloggers.com</a></li>
      <li><a href="https://scikit-learn.org" target="_blank">https://scikit-learn.org</a></li>
    </ul>
  </div>
</div>

<div class="card" style="margin: 20px" id="knn">
  <div class="card-header col">
    <h3>K-Nearst Neighbors Algorithm (KNN)</h3>
  </div>
  <div class="card-body">
    <p>KNN is also a supervised learning algorithm that can solve both classification and regression problems. It is very easy to implement and study. There are no ambiguous settings or tips. The hyperparameters mainly concern the definition of the weight of the features, the way in which the distance is calculated (Euclidean, manhattan or minkowski) and the algorithm used for the search for neighbors. Here are the steps to follow:
    </p>
    <ol>
      <li>First step, you have to observe the model and define a K according to the noise (not always obvious)</li>

    <div class="centercol">
      <img class="img-fluid" src="{% static "img/knnStep1.png" %}">
    </div>

      <li>Secondly, the algorithm will have to calculate the distances between the data to be classified and the others</li>

    <div class="centercol">
      <img class="img-fluid" src="{% static "img/knnStep2.png" %}">
    </div>

      <li>Then we select the K data closest to the one we want to determine</li>

    <div class="centercol">
      <img class="img-fluid" src="{% static "img/knnStep3.png" %}">
    </div>

      <li>Finally we vote to know the label or the value induced by our data</li>

    <div class="centercol">
      <img class="img-fluid" src="{% static "img/knnStep4.png" %}">
    </div>

    </ol>
    <p>
      KNN is a powerful algorithm that is very easy to understand and use. It is much more reliable for classification problems, but it can be used for regression. In our case of tumor detection (benign / malignant classification) it turned out to be very efficient. You still have to be careful with this kind of algorithm because it is quite sensitive to noise. The other useful information is related to K. The lower the K, the more there is a risk of having an overfitting problem (over-trained: the model is trained too narrowly). Conversely, the higher the K the more there is the risk of underfitting (under-trained: the model is treated too broadly).
    </p>
  </div>
  <div class="card-footer">
    References :
    <ul>
      <li><a href="https://www.kdnuggets.com" target="_blank">https://www.kdnuggets.com</a></li>
      <li><a href="https://scikit-learn.org" target="_blank">https://scikit-learn.org</a></li>
    </ul>
  </div>
</div>

<div class="card" style="margin: 20px" id="rf">
  <div class="card-header col">
    <h3>Random Forest Algorithm</h3>
  </div>
  <div class="card-body">
    <p>Before talking about the random forest, we must look at the decision tree of which it is composed.</p>
    <p>The decision tree uses the same principle as for managerial decision
trees. Obviously, a manager will make a small decision
tree depending on what he knows it will be quick and
efficient for a small subject. The computer can do a lot
better by having a lot more data.</p>
    <p>The decision tree is a supervised algorithm because
they need labels, but the target variable can be real
(regression problem) or categorical (classification
problem). Respectively we call regression trees and
classification trees.</p>
    <p>As a reminder, a tree is an undirected, acyclic graph.
For our algorithm we still start from the root to go to a leaf
but if we draw the tree nothing prevents us from starting
from a leaf to find how we arrived at the conclusion (See the example below).</p>

    <div class="centercol">
      <img class="img-fluid" src="{% static "img/DecisionTreeEdureka.copng.png" %}">
    </div>

    <p>
      The principle of the decision tree is to decide at each
level of the tree until you find the leaf that corresponds
to our data. for each case we have a data set. For the root
and the intermediate nodes, it is necessary to answer a
question (generally binary) with one of the data.
Depending on the answer, we go to one of the
intermediate nodes of the next level and we start
interrogating again the data with a new question. The procedure is repeated until we reach a
leaf that will allow us to obtain the result. Please take a look at our breast tumor decision tree below (one of possible results).
    </p>

    <div class="centercol">
      <img class="img-fluid" src="{% static "img/tree.png" %}">
    </div>

    <p>
      Decision trees are very easy to implement and represent, they
do not need a lot of parameters, and they require little data preprocessing.
    </p>
    <p>One of the big advantages is that graphical visualization is possible and allows you to better
understand certain errors (see the graph above). However, the problem is that a slight bias in the data can easily
corrupt the response. We must also pay attention to the depth of the tree, as for the K of KNN, because the algorithm
can quickly become underfitted (too small depth) or overfitted (too huge depth).</p>

    <p><b>Now we can talk about the random forest. It is simply several decision trees then at the end we average the results of all the trees. Yes it is that easy.</b></p>

  </div>
  <div class="card-footer">
    References :
    <ul>
      <li><a href="https://www.edureka.co" target="_blank">https://www.edureka.co</a></li>
      <li><a href="https://scikit-learn.org" target="_blank">https://scikit-learn.org</a></li>
    </ul>
  </div>
</div>

<div class="card" style="margin: 20px" id="comp">
  <div class="card-header col">
    <h3>Comparison (for breast tumor detection)</h3>
  </div>
  <div class="card-body table-responsive">
    <table class="table">
    {% csrf_token %}
          
          <tr>
      <td>&nbsp;</td>
            <th scope="col" class="centercol">SVM<br>Polynomial Degree : 2<br>Sigma : 1/ ( n features * X.val() ) </th>
            <th scope="col" class="centercol">SVM<br>Linear</th>
            <th scope="col" class="centercol">SVM<br>Polynomial Degree : 2<br>Sigma : 1/ n features </th>
            <th scope="col" class="centercol">SVM<br>Radial Basis</th>
            <th scope="col" class="centercol">KNN</th>
            <th scope="col" class="centercol">Decision Tree</th>
            <th scope="col" class="centercol">Random Forest</th>
          </tr>
      <a href="https://scikit-learn.org" target="_blank">
          <tr>
      <th scope="row">Stability of the result</th>
            <td class="centercol"><i class="fas fa-check"></i></td>
            <td class="centercol"><i class="fas fa-check"></i></td>
            <td class="centercol"><i class="fas fa-check"></i></td>
            <td class="centercol"><i class="fas fa-check"></i></td>
            <td class="centercol pinkcheck"><i class="fas fa-check"></i></td>
            <td class="centercol"><i class="fas fa-times"></i></td>
            <td class="centercol"><i class="fas fa-times"></i></td>
          </tr>
        
          <tr>
      <th scope="row">Speed</th>
            <td class="centercol"><i class="fas fa-times"></i></td>
            <td class="centercol"><i class="fas fa-check"></i></td>
            <td class="centercol pinkcheck"><i class="fas fa-check"></i></td>
            <td class="centercol pinkcheck"><i class="fas fa-check"></i></td>
            <td class="centercol pinkcheck"><i class="fas fa-check"></i></td>
            <td class="centercol"><i class="fas fa-check"></i></td>
            <td class="centercol"><i class="fas fa-check"></i></td>
          </tr>

          <tr>
      <th scope="row">Best Accuracy</th>
            <td class="centercol"><i class="fas fa-check"></i></td>
            <td class="centercol"><i class="fas fa-check"></i></td>
            <td class="centercol"><i class="fas fa-times"></i></td>
            <td class="centercol"><i class="fas fa-times"></i></td>
            <td class="centercol pinkcheck"><i class="fas fa-check"></i></td>
            <td class="centercol"><i class="fas fa-check"></i></td>
            <td class="centercol pinkcheck"><i class="fas fa-check"></i></td>
          </tr>

          <tr>
      <th scope="row">Zero False Negative</th>
            <td class="centercol"><i class="fas fa-times"></i></td>
            <td class="centercol"><i class="fas fa-times"></i></td>
            <td class="centercol"><i class="fas fa-check"></i></td>
            <td class="centercol"><i class="fas fa-check"></i></td>
            <td class="centercol pinkcheck"><i class="fas fa-check"></i></td>
            <td class="centercol"><i class="fas fa-times"></i></td>
            <td class="centercol"><i class="fas fa-check"></i></td>
          </tr>

      <tr>
      <th scope="row">Details of result</th>
            <td class="centercol"><i class="fas fa-times"></i></td>
            <td class="centercol"><i class="fas fa-times"></i></td>
            <td class="centercol"><i class="fas fa-times"></i></td>
            <td class="centercol"><i class="fas fa-times"></i></td>
            <td class="centercol"><i class="fas fa-times"></i></td>
            <td class="centercol pinkcheck"><i class="fas fa-check"></i></td>
            <td class="centercol"><i class="fas fa-times"></i></td>
          </tr>
      
    </table>
  </div>
</div>



{% endblock %}